table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* width:1150px;  */
  /* flex:1; */
  /* display: flex; */
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  /* display: flex; */
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #EAEAEA;
  color: #4985B2;
}
